<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <nav style="width: 20%;">
      <app-fileupload></app-fileupload>
      <app-contact-list></app-contact-list>
    </nav>

    <main role="main" style="width: 57%;" class="pt-3 px-4" [ngSwitch]="eventService.eventView$ | async">
      <div id="calenderView" *ngSwitchCase="'calender'">
        <app-calenderview></app-calenderview>
      </div>

      <div id="listView" *ngSwitchCase="'list'">
        <app-listview></app-listview>
      </div>

      <div id="tableView" *ngSwitchCase="'table'">
        <app-tableview></app-tableview>
      </div>
    </main>
    <nav style="width: 23%;">
      <app-sidebar></app-sidebar>
    </nav>
  </div>
</div>
