<div class="sidebar-sticky">
  <div mwlFlatpickr [altInput]="true" [convertModelValue]="true" [allowInput]="false" [inline]="true"
    dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" (flatpickrChange)="flatpickrChanged($event.selectedDates)"
    (flatpickrMonthChange)="flatpickrMonthChanged($event.instance)"
    (flatpickrYearChange)="flatpickrMonthChanged($event.instance)">
  </div>
</div>
<hr />
<p>To download sample csv file click
  <a href="assets/sample_data.csv">here</a>.
</p>
<hr />
<p>
  Get the source code
  <a href="https://github.com/alameenboss/call-history-app" target="_blank">here</a>
</p>