<div style="background: white; display: flex;flex-direction: column; margin-top: 10px;">


    <input type="file" #fileImportInput name="File Upload" id="csvFileUpload" accept=".csv" />


<div>
    <label for="header">
        Parse Headers?
    </label>
    <select aria-placeholder="Parse headers?" [(ngModel)]="header" id="header">
        <option [value]="true">Yes</option>
        <option [value]="false">No</option>
    </select>
</div>
    


    <button class="btn btn-sm btn-outline-secondary m-2" (click)="fileChangeListener()"> Process</button>

</div>