<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <nav class="d-none d-md-block bg-light sidebar" style="width: 23%;">
      <app-sidebar></app-sidebar>
    </nav>

    <main role="main" style="width: 77%;" class="pt-3 px-4" [ngSwitch]="eventService.eventView$ | async">
      <div id="calenderView" *ngSwitchCase="'calender'">
        <app-calenderview></app-calenderview>
      </div>

      <div id="listView" *ngSwitchCase="'list'">
        <app-listview></app-listview>
      </div>

      <div id="tableView" *ngSwitchCase="'table'">
        <app-tableview></app-tableview>
      </div>
    </main>

  </div>
</div>
