.call-list{
   
}

.title{
    position: relative;
}

.call-count{
    position: absolute;
    top: -10px;
    background: red;
    color: #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.phone{

}