<!-- <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3> -->

<div *ngFor="let event of filteredEvent">
  <div>
    <h6 class="title">
      {{event.title}}
      <span class="call-count">{{getTotalCallWhichIsMoreThan2Mins(event.callDate )}}</span>
   
    </h6>
    <div class="phone">{{event.phone}}</div>
  </div>
  <div class="call-list">
    <div *ngFor="let item of event.callDate">
      {{item.date | date: 'dd/MM/yyyy hh:mm:ss a'}} {{item.callType}} {{item.durationT}} {{item.durationS }}
    </div>
  </div>


  <hr />
</div>